table {
    border: solid 1px black;
}
th,td {
    width: 25%;
    border: black solid 1px;
}
th {
    background-color: rgb(165, 191, 238);
}
th:first-child {
    background-color: pink;
}
td:first-child {
    background-color: rgb(241, 241, 142);
}

@media only screen and (max-width:1024px) {
    table {
        margin: 10px 5px;
    }
    table th:nth-child(2) {
        display: none;
    }
    table th:nth-child(3) {
        display: none;
    }
    table th:nth-child(4) {
        display: none;
    }
    table th:first-child {
        width: 90%;
        display: block;
        margin: 0 auto;
    }
    table td {
        width: 90%;
        display: block;
        border-top: 1px solid black;
    }
}